body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-bottom: 100px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.perfil-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.perfil-container a {
    color: #fff;
    text-decoration: none;
}

.perfil-container img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Estilos para el carrito de compras */
.carrito-container {
    position: relative;
}

#carrito-icon{
    cursor: pointer;
}
.carrito-submenu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000
}

.carrito-submenu.visible {
    display: block;
}

.carrito-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.carrito-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover; /* Para asegurar que la imagen se ajuste bien */
}

.carrito-item-details {
    flex-grow: 1;
}

.carrito-item-details p {
    margin: 0;
}

.carrito-total {
    padding: 10px;
    font-weight: bold;
}

.cantidad-selector {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.cantidad-selector button {
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.cantidad-selector input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.cantidad-selector button:active {
    background-color: #bbb;
}
.eliminar-item {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.eliminar-item:hover {
    background-color: #ff4146;
}

.carrito-item-details a{
    color: #000;
}

/*Estilos cuerpo*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Libros {
    flex-basis: calc(33.33% - 20px);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 318px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Libros img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    text-align: center;
    bottom: 0;
    width: 100%;
    flex-direction: row-reverse;
    position: fixed;
    justify-content: center;
}

.registro{
    width:40%;
    align-content:center;
    margin:10px;
    background-color:gray;
    border-radius:15px;
}
.info{
    width:40%;
    margin:10px;
    align-content:center;
    background-color:gray;
    border-radius:15px;
}

.info a {
    display: inline-block;
    margin-right: 10px;
}

footer a{
    color:white;
    text-decoration:none;
    padding:2px;
}

footer a i{
    display: flex;
    scale:1.5;
    margin:5px;
}

footer a:hover{
    color:black;
}

p {
    margin-block-end: 0;
    margin-block-start: 5px;
}